Pawel Gorka <pawel.gorka@student.hs-rm.de> Pawel Gorka <pawelgorka@MacBookPro.fritz.box>
Pawel Gorka <pawel.gorka@student.hs-rm.de> Pawel Gorka <pawelgorka@MacBook-Pro-von-Pawel.local>
Pawel Gorka <pawel.gorka@student.hs-rm.de> Pawel <pawel.gorka@student.hs-rm.de>
Emre Kirmizielma <emre.kirmizielma@student.hs-rm.de> Emre K <emrea485@gmail.com>
Houssam Sakah <houssam.sakah@student.hs-rm.de> hsaka001 <houssam.sakah@student.hs-rm.de>
Mykhailo Fakliier <Mykhailo.Fakliier@student.hs-rm.de> mfakl001 <mfakl001@linux001.intern.mi.hs-rm.de>
Muhanad Khatib <Muhanad.Khatib@student.hs-rm.de> Muhanad Khatib <muhanad.khatib@student.hs-rm.de>
Muhanad Khatib <Muhanad.Khatib@student.hs-rm.de> Muhanad Khatib <https://git.mi.hs-rm.de/2025swtpro/2025swtpro01.git>
Ramy Mansi <ramy.mansi@student.hs-rm.de> ProfSuppe <ramy.mansi@yahoo.de>
Wares Zadran <wares.zadran@student.hs-rm.de> wazadraa <wares.zadran@student.hs-rm.de>
Yulia Korzhova <yulia.korzhova@student.hs-rm.de> ykorz001 <ykorz001@pc13-101.intern.mi.hs-rm.de>