body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #181818;
}

#app {
  width: 100%;
  height: 100%;
}

.main-div {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: #f5f5f5;
}

.main-div h1 {
  font-size: 3rem;
  margin: 0;
}

.roll-div {
  font-size: 5rem;
  background: white;
  color: black;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.grid-div {
  width: 100%;
  max-width: 900px;
  height: 500px;
  border-radius: 12px;
  overflow: hidden;
}
